/* FOOTER */
.footer{
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  margin-bottom:75px;
}
.footer .row{
  padding: 0 75px;
}
.footer h3{
  color: #4a4a4a;
  font-size: 21px;
  font-family: "msSans";
  font-weight: 600;
}
.footer ul{
  padding-left: 0;
}
.footer ul li{
  list-style-type: none;
  font-family: "msSans";
  font-size: 18px;
  color: #4a4a4a;
  font-weight: lighter;
  line-height: 1.8;
}
.footer ul li a{
  font-family: "msSans";
  font-size: 18px;
  color: #4a4a4a;
  font-weight: lighter;
  text-transform: capitalize;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.footer ul li a:hover{
  color:#dd1d21;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

/* media footer*/
@media(max-width:530px){
  .footer .row{
    padding:0 30px;
  } 
  .footer .row .col-xs-6{
    float:none !important;
    width:300px !important;
    margin:0 auto !important;
    
  }
}