/* HEADER */

.body-shadow-lang:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  width: 100%;
  opacity: 0.35;
  z-index: 3;
}
.body-shadow-sign:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  width: 100%;
  opacity: 0.35;
}
.body-down-menu:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  width: 100%;
  opacity: 0.35;
}

.header{
  background: #fff;
  margin-bottom:0;
  z-index: 101;
  position: absolute;
  /*position: fixed;*/
  width: 100%;
  border: 0;
  border-radius:0;
}
.header .header-body{
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom:1px solid #000;
}
.header .navbar-brand{
  height: 101px;
  padding: 20px 15px;
}
.header .header-body .navbar-nav{
  height: 101px;
}
.header .language{
  height: 100%;
  padding: 40px 13px;
  color: #404040;
  font-family: "PTregular";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent !important;
  text-decoration: none;
  float: left;
}
.header .language a{
  padding: 0;
}
.header .language  img{
  width:15px;
}
.header .navbar-right li{
  height: 100%;
  text-align: center;
  display: table;
  border-left: .0625rem solid #e5e5e5;
}
.border-link{
  border-right: .0625rem solid #e5e5e5;
}
.header .navbar-right li a{
  width: 160px;
  display: table-cell;
  vertical-align: middle;
  font-family: "notoBold",sans;
  color: #404040;
  -webkit-transition: color .3s ease 0s;
  -moz-transition: color .3s ease 0s;
  -o-transition: color .3s ease 0s;
  -ms-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
  position: relative;
}
.header .navbar-right li a:hover{
  color:#fbbd00;
  -webkit-transition: color .3s ease 0s;
  -moz-transition: color .3s ease 0s;
  -o-transition: color .3s ease 0s;
  -ms-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
}
.header .navbar-right li a:before{
  content: '';
  position: absolute;
  height: 1px;
  background: #fbbd00;
  top:0;
  left:0;
  width: 100%;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.header .navbar-right li a:hover:before{
  height: 10px;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.header .navbar-right li.last-link a{
  width: 111px;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.header .navbar-right li.last-link a:hover{
  color:#fff;
  background: #d82a47;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.header .navbar-right li.last-link.act-sign a{
  background: #d82a47;
  color:#fff;
}
.header .navbar-right li.last-link a:hover:before,.header .navbar-right li.last-link a:before{
  background: #d82a47;
  height: 1px;
}

/* media header main*/
@media(max-width:460px){
  .header .navbar-brand{
    padding-top:30px;
  }
  .header .navbar-brand img{
    width: 130px;
    height: 41px;
  }
}





.down-menu{
  width: 100%;
  height: 50px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 20px;
  z-index: 101;
  background: #fff;
  border-bottom: .0625rem solid #e5e5e5;
  position: fixed;
  left:50%;
  top:102px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.down-menu ul{
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
}
.down-menu ul li.down-menu-link{
  display: inline-block;
  height: 50px;
  margin-right: -4px;
  position: relative;
}
.down-menu ul li.down-menu-link a{
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 2vw;
  font-size: 16px;
  font-family: "notoBold",sans;
  color: #404040;
  line-height: 3;
  text-decoration: none;
}
.down-menu ul li.down-menu-link:before{
  content: '';
  position: absolute;
  height: 0px;
  background: #fbbd00;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.down-menu ul li.down-menu-link:hover:before{
  content: '';
  position: absolute;
  height: 10px;
  background: #fbbd00;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.down-menu .home-link{
  background: #fbbd00;
}
.down-menu .home-link a:hover i{
  color:#d82a47;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.down-menu .home-link a i{
  position: relative;
  top:6px;  
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.down-menu .down-menu-link .poslug-li-more a,.down-menu .down-menu-link .our-proj-li-more a{
  line-height: 2.5;
}







.poslug,.our-proj{
  background: #fff;
  position: fixed;
  top:50px;
  min-height: 20px;
  display: none;
  width: 100%;
  max-width: 1500px;
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 1.25rem;
  text-align: left;
  border-top:1px solid #fbbd00;
  border-bottom: 5px solid #fbbd00;
  padding: 1.25rem;
}
.down-menu ul li:hover .poslug,.down-menu ul li:hover .our-proj{
  display: block;
}
.poslug ul,.our-proj ul{
  text-align: left;
}
.poslug .poslug-li,.our-proj .our-proj-li{
  text-align: left;
  list-style-type: none;
  width: 25%;
  display: inline-block;
  margin-right: -3px;
  vertical-align: top;
}
.poslug .poslug-li a.dropdown-poslug,.our-proj .our-proj-li a.dropdown-our-proj{
  padding: 0 2vw;
  font-size: 16px;
  font-family: "notoBold",sans;
  color: #404040;
  line-height: 3;
  text-decoration: none;
}
.poslug .poslug-li a.dropdown-poslug img,.our-proj .our-proj-li a.dropdown-our-proj{
  width: 14px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.poslug .poslug-li:hover a.dropdown-poslug img,.our-proj .our-proj-li:hover a.dropdown-our-proj{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.poslug .poslug-li-more,.our-proj .our-proj-li-more{
  display: none;
  padding-left: 0px;
}
.poslug-li-more li,.our-proj-li-more li{
  list-style-type: none;
}
.poslug-li-more li:hover,.our-proj-li-more li:hover{
  text-decoration: underline;
}
.poslug .poslug-li:hover .poslug-li-more,.our-proj .our-proj-li:hover .our-proj-li-more{
  display: block;
}
.our-proj-li a:hover{
  text-decoration: underline !important;
}





.min-menu{
  min-height: 200px;
  border:1px solid red;
  width: 300px;
  position: fixed;
  top:101px;
  right: -500px;
  z-index: 999999999999999;
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  height: 100%;
}
.min-menu.show-right{
  right: 0px;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background: #fff;
}
.min-menu ul{
  padding-left: 0;
}
.min-menu ul li{
  list-style-type: none;
  padding: 10px 20px;
  font-family: "notoBold",sans;
  color: #404040;
}
.min-menu ul li.min-link-main a{
  font-size: 14px;
  font-family: "notoBold",sans;
  color: #404040;
  cursor: pointer;
}
.min-home{
  font-size: 18px;
  position: relative;
}
.min-home:before{
  content:'';
  position: absolute;
  top:15px;
  left:0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left:10px solid #fbbd00;
}
.min-link-main,.min-home{
  border-left: 5px solid #fbbd00;
  border-bottom:1px solid #e5e5e5;
}
.min-home i{
  float:right;
  position: relative;
  top:-5px;
}
/* media */

@media(max-width:1199px){
  .navbar-toggle{
    display:block !important;
    margin: 0px;
    height: 101px;
    border-radius: 0px;
    width: 100px;
    text-align: center;
    border-right:0;
    border-bottom:0;
    border-top:0;
  }
  .navbar-toggle span{
    background: #000 !important;
  }
  .navbar-toggle:hover,.navbar-toggle:focus{
    background: #d82a47 !important;
  }
  .toggle-min-menu span{
    display: none !important;
  }
  .navbar-toggle img{
    display: none;
  }
  .toggle-min-menu img{
    display: inline;
    width:35px;
  }
  .navbar-toggle .icon-bar{
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width:30px;
  }
  .navbar-toggle .icon-bar + .icon-bar{
    margin-top:11px;
  }
}
@media(max-width:991px){
  .poslug .poslug-li a.dropdown-poslug,.our-proj-li a,.poslug-li-more li a,.poslug-li a{
    font-size:13px !important;
  }
}
@media(max-width:800px){
  .poslug .poslug-li, .our-proj .our-proj-li{
    width:50%;
  }
}
@media(max-width:460px){
  .navbar-toggle{
    width:75px;
  }
}
@media(max-width:400px){
  .poslug .poslug-li, .our-proj .our-proj-li{
    width:100%;
  }
}


/* CONTENT BLOCK HEADER */
.language-content{
  width: 100%;
  position: fixed;
  top:102px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 20px;
  padding: 20px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  display: none;
  background: #f7f7f7;
  z-index: 101;
  -webkit-transition: opacity .3s ease 0s;
  -moz-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  -ms-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}
.lang-block{
  display: block;
}
.language-content li{
  width: 17%;
  display: list-item;
  position: static;
  text-align: right;
  margin-bottom: 10px;
  list-style-type: none;
}
.language-content li a{
  padding-left: 40px;
  color:#404040;
  text-decoration: none;
}
.language-content li a:focus,.language-content li a:hover{
  color:#dd1d21;
}
.language-content li img{
  /*-webkit-transform: rotate(-90deg);*/
  /*-moz-transform: rotate(-90deg);*/
  /*-o-transform: rotate(-90deg);*/
  /*-ms-transform: rotate(-90deg);*/
  /*transform: rotate(-90deg);*/
  width: 20px;
  margin-top: -1px;
}
.language-content li ul{
  position: absolute;
  left:19%;
  width:81%;
  top:0;
  padding: 20px;
  background: #fff;
  display: none;
}
.language-content li ul li{
  width: 25%;
  float: left;
  position: relative;
  text-align: left;
  margin-bottom: 0;
  min-height: 46px;
}
.language-content li ul li a{
  padding-left: 35px;
  /*background:transparent url('../img/sprite_countries_flag4.png') no-repeat ;*/
}
.language-content li ul li a:hover{
  text-decoration: underline;
}
.language-content li ul li a.albania{
  background-position: 0px -6197px ;
}
.language-content li ul li a.andorra{
  background-position: 0px -6337px ;
}
.language-content li ul li a.austria{
  background-position: 0px -6022px ;
}
.language-content li ul li a.azerbaijanrepublic{
  background-position: 0px -5917px ;
}
.language-content li ul li a.belarus{
  background-position: 0px -7002px ;
}
.language-content li ul li a.belgium{
  background-position: 0px -5812px ;
}
.language-content li ul li a.bosniaandherzegovina{
  background-position: 0px -5882px ;
}
.language-content li ul li a.bulgaria{
  background-position: 0px -5742px ;
}
.language-content li ul li a.croatia{
  background-position: 0px -3852px ;
}
.language-content li ul li a.cyprus{
  background-position: 0px -5007px ;
}
.language-content li ul li a.czechrepublic{
  background-position: 0px -4972px ;
}
.language-content li ul li a.denmark{
  background-position: 0px -4867px ;
}
.language-content li ul li a.estonia{
  background-position: 0px -4692px ;
}
.language-content li ul li a.faroeislands{
  background-position: 0px -4412px ;
}
.language-content li ul li a.finland{
  background-position: 0px -4552px ;
}
.language-content li ul li a.france{
  background-position: 0px -4377px ;
}
.language-content li ul li a.georgia{
  background-position: 0px -6655px ;
}
.language-content li ul li a.germany{
  background-position: 0px -4937px ;
}
.language-content li ul li a.gibraltar{
  background-position: 0px -4202px ;
}
.language-content li ul li a.greece{
  background-position: 0px -4062px ;
}
.language-content li ul li a.hungary{
  background-position: 0px -3817px ;
}
.language-content li ul li a.iceland{
  background-position: 0px -3642px ;
}
.language-content li ul li a.ireland{
  background-position: 0px -3747px ;
}
.language-content li ul li a.italy{
  background-position: 0px -3607px ;
}
.language-content li ul li a.latvia{
  background-position: 0px -2872px ;
}
.language-content li ul li a.liechtenstein{
  background-position: 0px -3047px ;
}
.language-content li ul li a.lithuania{
  background-position: 0px -2942px ;
}
.language-content li ul li a.luxembourg{
  background-position: 0px -2907px ;
}
.language-content li ul li a.macedonia{
  background-position: 0px -6897px ;
}
.language-content li ul li a.malta{
  background-position: 0px -2557px ;
}
.language-content li ul li a.moldova{
  background-position: 0px -6932px ;
}
.language-content li ul li a.monaco{
  background-position: 0px -7037px ;
}
.language-content li ul li a.montenegro{
  background-position: 0px -6862px ;
}
.language-content li ul li a.netherlands{
  background-position: 0px -2137px ;
}
.language-content li ul li a.norway{
  background-position: 0px -2102px ;
}
.language-content li ul li a.poland{
  background-position: 0px -1717px ;
}
.language-content li ul li a.portugal{
  background-position: 0px -1682px ;
}
.language-content li ul li a.romania{
  background-position: 0px -1542px ;
}
.language-content li ul li a.russia{
  background-position: 0px -1507px ;
}
.language-content li ul li a.sanmarino{
  background-position: 0px -1157px ;
}
.language-content li ul li a.serbia{
  background-position: 0px -6721px ;
}
.language-content li ul li a.slovakia{
  background-position: 0px -1227px ;
}
.language-content li ul li a.slovenia{
  background-position: 0px -1262px ;
}
.language-content li ul li a.spain{
  background-position: 0px -4621px ;
}
.language-content li ul li a.svalbardandjanmayen{
  background-position: 0px -2102px ;
}
.language-content li ul li a.sweden{
  background-position: 0px -1332px ;
}
.language-content li ul li a.switzerland{
  background-position: 0px -947px ;
}
.language-content li ul li a.turkey{
  background-position: 0px -632px ;
}
.language-content li ul li a.ukraine{
  background-position: 0px -457px ;
}
.language-content li ul li a.unitedkingdom{
  background-position: 0px -4307px ;
}
.language-content li ul li a.vaticancity{
  background-position: 0px -317px ;
}
.language-content li ul li a.armenia{
  background-position: 0px -6162px ;
}
.language-content li ul li a.australia{
  background-position: 0px -5987px ;
}
.language-content li ul li a.bahrain{
  background-position: 0px -5707px ;
}
.language-content li ul li a.bhutan{
  background-position: 0px -5427px ;
}
.language-content li ul li a.brunei{
  background-position: 0px -5567px ;
}
.language-content li ul li a.cambodia{
  background-position: 0px -3400px ;
}
.language-content li ul li a.china{
  background-position: 0px -5147px ;
}
.language-content li ul li a.cookislands{
  background-position: 0px -5217px ;
}
.language-content li ul li a.fiji{
  background-position: 0px -4517px ;
}
.language-content li ul li a.frenchpolynesia{
  background-position: 0px -1822px ;
}
.language-content li ul li a.hongkong{
  background-position: 0px -3922px ;
}
.language-content li ul li a.india{
  background-position: 0px -3677px ;
}
.language-content li ul li a.indonesia{
  background-position: 0px -3782px ;
}
.language-content li ul li a.israel{
  background-position: 0px -3712px ;
}
.language-content li ul li a.japan{
  background-position: 0px -3502px ;
}
.language-content li ul li a.jordan{
  background-position: 0px -3537px ;
}
.language-content li ul li a.kazakhstan{
  background-position: 0px -3152px ;
}
.language-content li ul li a.kiribati{
  background-position: 0px -3362px ;
}
.language-content li ul li a.kuwait{
  background-position: 0px -3222px ;
}
.language-content li ul li a.kyrgyzstan{
  background-position: 0px -3432px ;
}
.language-content li ul li a.laos{
  background-position: 0px -3117px ;
}
.language-content li ul li a.malaysia{
  background-position: 0px -2382px ;
}
.language-content li ul li a.maldives{
  background-position: 0px -2487px ;
}
.language-content li ul li a.marshallislands{
  background-position: 0px -2767px ;
}
.language-content li ul li a.micronesia{
  background-position: 0px -4447px ;
}
.language-content li ul li a.mongolia{
  background-position: 0px -6372px ;
}
.language-content li ul li a.nauru{
  background-position: 0px -2032px ;
}
.language-content li ul li a.nepal{
  background-position: 0px -2067px ;
}
.language-content li ul li a.newcaledonia{
  background-position: 0px -7317px ;
}
.language-content li ul li a.newzealand{
  background-position: 0px -1962px ;
}
.language-content li ul li a.niue{
  background-position: 0px -1997px ;
}
.language-content li ul li a.norfolkisland{
  background-position: 0px -2207px ;
}
.language-content li ul li a.oman{
  background-position: 0px -1927px ;
}
.language-content li ul li a.palau{
  background-position: 0px -1647px ;
}
.language-content li ul li a.papuanewguinea{
  background-position: 0px -1787px ;
}
.language-content li ul li a.philippines{
  background-position: 0px -1752px ;
}
.language-content li ul li a.pitcairnislands{
  background-position: 0px -6232px ;
}
.language-content li ul li a.qatar{
  background-position: 0px -5707px ;
}
.language-content li ul li a.samoa{
  background-position: 0px -107px ;
}
.language-content li ul li a.saudiarabia{
  background-position: 0px -1437px ;
}
.language-content li ul li a.singapore{
  background-position: 0px -1297px ;
}
.language-content li ul li a.solomonislands{
  background-position: 0px -1402px ;
}
.language-content li ul li a.southkorea{
  background-position: 0px -3257px ;
}
.language-content li ul li a.srilanka{
  background-position: 0px -3012px ;
}
.language-content li ul li a.taiwan{
  background-position: 0px -527px ;
}
.language-content li ul li a.tajikistan{
  background-position: 0px -772px ;
}
.language-content li ul li a.thailand{
  background-position: 0px -807px ;
}
.language-content li ul li a.tonga{
  background-position: 0px -667px ;
}
.language-content li ul li a.turkmenistan{
  background-position: 0px -737px ;
}
.language-content li ul li a.tuvalu{
  background-position: 0px -562px ;
}
.language-content li ul li a.unitedarabemirates{
  background-position: 0px -6302px ;
}
.language-content li ul li a.vanuatu{
  background-position: 0px -142px ;
}
.language-content li ul li a.vietnam{
  background-position: 0px -177px ;
}
.language-content li ul li a.wallisandfutuna{
  background-position: 0px -6795px ;
}
.language-content li ul li a.yemen{
  background-position: 0px -72px ;
}
.language-content li ul li a.anguilla{
  background-position: 0px -6232px ;
}
.language-content li ul li a.antiguaandbarbuda{
  background-position: 0px -6267px ;
}
.language-content li ul li a.argentina{
  background-position: 0px -6057px ;
}
.language-content li ul li a.aruba{
  background-position: 0px -5952px ;
}
.language-content li ul li a.bahamas{
  background-position: 0px -5462px ;
}
.language-content li ul li a.barbados{
  background-position: 0px -5847px ;
}
.language-content li ul li a.belize{
  background-position: 0px -5357px ;
}
.language-content li ul li a.bermuda{
  background-position: 0px -5602px ;
}
.language-content li ul li a.bolivia{
  background-position: 0px -5532px ;
}
.language-content li ul li a.brazil{
  background-position: 0px -5497px ;
}
.language-content li ul li a.virginislands{
  background-position: 0px -212px ;
}
.language-content li ul li a.canada{
  background-position: 0px -5322px ;
}
.language-content li ul li a.caymanislands{
  background-position: 0px -4482px ;
}
.language-content li ul li a.chile{
  background-position: 0px -5182px ;
}
.language-content li ul li a.colombia{
  background-position: 0px -5112px ;
}
.language-content li ul li a.costarica{
  background-position: 0px -5077px ;
}
.language-content li ul li a.dominica{
  background-position: 0px -4832px ;
}
.language-content li ul li a.dominicanrepublic{
  background-position: 0px -4797px ;
}
.language-content li ul li a.ecuador{
  background-position: 0px -4727px ;
}
.language-content li ul li a.elsalvador{
  background-position: 0px -982px ;
}
.language-content li ul li a.falklandislands{
  background-position: 0px -6232px ;
}
.language-content li ul li a.frenchguiana{
  background-position: 0px -4377px ;
}
.language-content li ul li a.greenland{
  background-position: 0px -4167px ;
}
.language-content li ul li a.grenada{
  background-position: 0px -4272px ;
}
.language-content li ul li a.guadeloupe{
  background-position: 0px -4377px ;
}
.language-content li ul li a.guatemala{
  background-position: 0px -4027px ;
}
.language-content li ul li a.guyana{
  background-position: 0px -3957px ;
}
.language-content li ul li a.honduras{
  background-position: 0px -3887px ;
}
.language-content li ul li a.jamaica{
  background-position: 0px -3572px ;
}
.language-content li ul li a.martinique{
  background-position: 0px -2662px ;
}
.language-content li ul li a.mexico{
  background-position: 0px -2417px ;
}
.language-content li ul li a.montserrat{
  background-position: 0px -2592px ;
}
.language-content li ul li a.netherlandsantilles{
  background-position: 0px -6127px ;
}
.language-content li ul li a.nicaragua{
  background-position: 0px -2172px ;
}
.language-content li ul li a.panama{
  background-position: 0px -1892px ;
}
.language-content li ul li a.paraguay{
  background-position: 0px -7247px ;
}
.language-content li ul li a.peru{
  background-position: 0px -1857px ;
}
.language-content li ul li a.saintkittsandnevis{
  background-position: 0px -3292px ;
}
.language-content li ul li a.saintlucia{
  background-position: 0px -3082px ;
}
.language-content li ul li a.saintpierreandmiquelon{
  background-position: 0px -6827px ;
}
.language-content li ul li a.saintvincentandthegrenadines{
  background-position: 0px -281px ;
}
.language-content li ul li a.suriname{
  background-position: 0px -1052px ;
}
.language-content li ul li a.trinidadandtobago{
  background-position: 0px -597px ;
}
.language-content li ul li a.turksandcaicos{
  background-position: 0px -912px ;
}
.language-content li ul li a.unitedstates{
  background-position: 0px -386px ;
}
.language-content li ul li a.uruguay{
  background-position: 0px -354px ;
}
.language-content li ul li a.venezuela{
  background-position: 0px -247px ;
}
.language-content li ul li a.algeria{
  background-position: 0px -4762px ;
}
.language-content li ul li a.angola{
  background-position: 0px -6092px ;
}
.language-content li ul li a.benin{
  background-position: 0px -5637px ;
}
.language-content li ul li a.botswana{
  background-position: 0px -5392px ;
}
.language-content li ul li a.burkinafaso{
  background-position: 0px -5776px ;
}
.language-content li ul li a.burundi{
  background-position: 0px -5672px ;
}
.language-content li ul li a.cameroon{
  background-position: 0px -7177px ;
}
.language-content li ul li a.capeverde{
  background-position: 0px -5042px ;
}
.language-content li ul li a.chad{
  background-position: 0px -1542px ;
}
.language-content li ul li a.comoros{
  background-position: 0px -3327px ;
}
.language-content li ul li a.cotedivoire{
  background-position: 0px -7142px ;
}
.language-content li ul li a.democraticrepublicofthecongo{
  background-position: 0px -5287px ;
}
.language-content li ul li a.djibouti{
  background-position: 0px -4902px ;
}
.language-content li ul li a.egypt{
  background-position: 0px -72px ;
}
.language-content li ul li a.eritrea{
  background-position: 0px -4657px ;
}
.language-content li ul li a.ethiopia{
  background-position: 0px -4590px ;
}
.language-content li ul li a.gabonrepublic{
  background-position: 0px -4342px ;
}
.language-content li ul li a.gambia{
  background-position: 0px -4132px ;
}
.language-content li ul li a.guinea{
  background-position: 0px -3992px ;
}
.language-content li ul li a.guineabissau{
  background-position: 0px -3992px ;
}
.language-content li ul li a.kenya{
  background-position: 0px -3467px ;
}
.language-content li ul li a.lesotho{
  background-position: 0px -2977px ;
}
.language-content li ul li a.madagascar{
  background-position: 0px -2802px ;
}
.language-content li ul li a.malawi{
  background-position: 0px -2452px ;
}
.language-content li ul li a.mali{
  background-position: 0px -2732px ;
}
.language-content li ul li a.mauritania{
  background-position: 0px -2627px ;
}
.language-content li ul li a.mauritius{
  background-position: 0px -2522px ;
}
.language-content li ul li a.mayotte{
  background-position: 0px -6547px ;
}
.language-content li ul li a.morocco{
  background-position: 0px -2837px ;
}
.language-content li ul li a.mozambique{
  background-position: 0px -2347px ;
}
.language-content li ul li a.namibia{
  background-position: 0px -2312px ;
}
.language-content li ul li a.niger{
  background-position: 0px -2242px ;
}
.language-content li ul li a.nigeria{
  background-position: 0px -7072px ;
}
.language-content li ul li a.republicofcongo{
  background-position: 0px -5255px ;
}
.language-content li ul li a.reunion{
  background-position: 0px -4377px ;
}
.language-content li ul li a.rwanda{
  background-position: 0px -6442px ;
}
.language-content li ul li a.sainthelena{
  background-position: 0px -912px ;
}
.language-content li ul li a.saotomeandprincipe{
  background-position: 0px -1017px ;
}
.language-content li ul li a.senegal{
  background-position: 0px -1122px ;
}
.language-content li ul li a.seychelles{
  background-position: 0px -1367px ;
}
.language-content li ul li a.sierraleone{
  background-position: 0px -1192px ;
}
.language-content li ul li a.somalia{
  background-position: 0px -1087px ;
}
.language-content li ul li a.southafrica{
  background-position: 0px -37px ;
}
.language-content li ul li a.swaziland{
  background-position: 0px -6512px ;
}
.language-content li ul li a.tanzania{
  background-position: 0px -492px ;
}
.language-content li ul li a.togo{
  background-position: 0px -842px ;
}
.language-content li ul li a.uganda{
  background-position: 0px -422px ;
}
.language-content li ul li a.tunisia{
  background-position: 0px -702px ;
}
.language-content li ul li a.zambia{
  background-position: 0px -3px ;
}
.language-content li ul li a.zimbabwe{
  background-position: 0px -7212px ;
}


/*media*/
@media(max-width:991px){
  .language-content li a{
    padding-left:0;
  }
  .language-content li ul li{
    width:50%;
  }
  .language-content li ul{
    width:70%;
    left:30%;
    height: 386px;
    overflow: scroll;
  }
  .language-content li{
    width:27%;
  }
}
@media(max-width:470px){
  .language-content li ul{
    width:100%;
    left:0;
    position: static;
    margin: 10px 0;
  }
  .language-content li{
    width:100%;
    text-align:left;
  }
}
@media(max-width:370px){
  .language-content li ul li{
    width:100%;
  }
}









.registration-content{
  width: 100%;
  /*position: fixed;*/
  position: absolute;
  top:101px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  display: block;
  background: #fff;
  z-index: 101;
  -webkit-transition: opacity .3s ease 0s;
  -moz-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  -ms-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}
#accordion-reg{
  margin-bottom:0;
}
.registration-content .panel{
  border: 0;
  border-radius:0;
  box-shadow: 0 0 0;
}
.registration-content .panel-group .panel + .panel{
  margin: 0;
}
.registration-content .panel-heading{
  padding: 0;
  border-radius: 0;
}
.registration-content .panel-default > .panel-heading + .panel-collapse > .panel-body{
  border:0;
}
.registration-content .panel-title{
  text-align: center;
  background: #d82a47;
}
.registration-content .panel-title a{
  display: block;
  color: #fff;
  font-size: 30px;
  font-family: "notoBold";
  text-transform: uppercase;
  text-decoration: none;
  padding: 29px 0;
}
.registration-content .panel-title.act,.registration-content .panel-collapse{
  background: #f7f7f7;
}
.registration-content .panel-title.act a{
  color:#404040;
}
.registration-content #collapseReg,.registration-content #collapseAuth{
  padding: 50px 2.5rem 20px;
  border-bottom: 5px solid #d82a47;
}
.registration-content #collapseReg{
  padding-top: 0;
}
.soc-reg{
  text-align: center;
  margin-top: 60px;
}
.soc-reg label{
  display: block;
  margin-bottom: 20px;
  color: #404040;
  font-size: 14px;
  font-family: "msSans";
  font-weight: normal;
}
.soc-reg a{
  font-size: 14px;
  color:#d82a47;
  font-family: "msSans";
  font-weight: normal;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
}
.registration-content #collapseReg form label,.registration-content #collapseAuth form label{
  display: block;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 20px;
  color: #404040;
  font-size: 14px;
  font-family: "msSans";
  font-weight: normal;
}
.registration-content #collapseReg form input,.registration-content #collapseAuth form input{
  height: 48px;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  margin-bottom: 25px;
}
.registration-content .social-block{
  min-height: 427px;
  position: relative !important;
}
.registration-content .social-block label{
  color: #404040;
  font-size: 14px;
  font-family: "msSans";
  margin-bottom: 20px;
  display: block;
  font-weight: normal;
}
.registration-content .social-link{
  height: 48px;
  border: 1px solid #e5e5e5;
  width: 48px;
  display: inline-block;
  margin: 0 20px;
  background: #fff;
  text-align: center;
  padding-top: 13px;
  cursor: pointer;
}
.sign-button{
  width: 300px;
  background: #dd1d21;
  font-size: 15px;
  font-family: "notoBold";
  color: #fff;
  padding: 18px 0;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 90px;
}
.registration-content #collapseAuth .social-block{
  min-height: 201px;
}
.registration-content #collapseAuth .col-md-7 a{
  font-family: "msSans";
  font-size: 14px;
  font-weight: normal;
  color: #dd1d21;
  text-decoration: underline;
}
.reg-none{
  display: none;
}


    














