/*@import "responsive.css";*/

/* vacancy page */
.vacancy-swipper,.vacancy-swipper .swiper-slide,.vacancy-swipper .swiper-wrapper{
  max-height: 470px;
}
.new-vacancy,.new-vacancy .swiper-slide,.new-vacancy .swiper-wrapper{
  max-height: 490px;
}
#vacancy-heading{
  font-weight: bold;
  font-size: 19pt;
  text-transform: uppercase;
}

.info-vacancy p span{
  font-weight: bold;
}

.need-prog{
  margin-top: 15px;
  margin-bottom: 15px;
}

.list-skill p{
  margin-top: 25px;
  margin-bottom: 20px;
}
.send-vacancy{
  margin-top: 20px;
}
.btn-send-vacancy{
  border-radius: 0;
  background-color: #dd1d21;
  color: white;
  padding: 20px;
  font-weight: bold;
}
.btn-send-vacancy:hover{
  background-color: #fbbd00;
  color:black;
  transition: 1s;
}
/*.btn-send-vacancy i{*/
  /*font-family: fontawesome !important;*/
/*}*/
.vacancy-content{
  background: #f7f7f7;
  min-height: 300px;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /*padding-top: 135px;*/
  padding-bottom: 25px;
}
.yellow-block{
  width: 435px;
  background: rgba(251, 190, 0, 0.9);
  position: absolute;
  left: 110px;
  padding: 35px;
  bottom: 77px;
}
.yellow-block h3{
  font-family: "notoBold",sans;
  color:#404040;
  font-size: 40px;
  margin: 0;
  margin-bottom: 45px;
}
.yellow-block span{
  font-family: "msSans";
  color:#404040;
  font-size: 20px;
  display: block;
  margin-bottom: 40px;
}
.yellow-block a{
  font-family: "msSans";
  color:#404040;
  font-size: 16px;
  display: block;
  text-decoration: underline;
}

.panel.panel-vacancies{
  background-color: #f5f5f5;
  border-top:1px solid white;
  box-shadow: none;
}
.panel .panel-heading .panel-title a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.panel .panel-heading .panel-title a img{
  float: right;
}
.rotated{
  transform: rotate(45deg);
  transition: 1s;
}
.vacancy-swipper .swiper-pagination{
  display: none;
}
.vacancy-swipper .caption-swipper{
  height: auto;
  padding: 0;
  padding: 15px 40px;
}
.vacancy-swipper .caption-swipper span{
  font-family: "notoBold",sans;
  font-size: 26px;
  text-transform: uppercase;
  display: block;
  color: #404040;
}
.vacan-acordion{
  max-width: 900px;
  min-height: 200px;
  margin: 0 auto;
  padding-bottom: 1px;
}
.vacan-acordion .panel{
  background-color: transparent;
  border-radius: 0;
  border: 0;
  border-top:2px solid #fff;
  box-shadow: 0 0 0;
}
.vacan-acordion .panel-default > .panel-heading + .panel-collapse > .panel-body{
  border: 0;
  background: transparent;
}
.vacan-acordion .panel-default > .panel-heading{
  border: 0;
}
.vacan-acordion h3{
  margin: 0;
  font-family: "notoBold",sans;
  font-size: 27px;
  color:#404040;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.vacan-acordion .panel-heading{
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
.vacan-acordion .panel-title a{
  display: block;
  padding: 15px;
  position: relative;
}
.vacan-acordion .panel-title a:hover{
  text-decoration: none;
}
.vacan-acordion .panel-title a p{
  font-family: "notoBold",sans;
  font-size: 20px;
  color: #404040;
  margin: 0;
}
.vacan-acordion .panel-title a span{
  display: block;
  font-size: 15px;
  font-family: "msSans";
  margin-top: 5px;
}
.vacan-acordion .panel-title a img{
  position: absolute;
  top:10px;
  right:15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.vacan-acordion .panel-heading.active .panel-title a p{
  color:#dd1d21;
  text-decoration: underline;
}
.vacan-acordion .panel-heading.active .panel-title a img{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.vacan-acordion .row{
  margin: 0;
}
.vacan-acordion .group-data{
  float: left;
  width: 400px;
}
.vacan-acordion .group-data span{
  font-family: "msSans";
  color: #404040;
  font-size: 15px;
  display: block;
}
.vacan-acordion .group-data span b{
  font-family: "notoBold",sans;
}
.vacan-acordion .panel-body p{
  font-family: "msSans";
  color: #404040;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.vacan-acordion .vumogu p{
  margin-bottom: 10px;
}
.vumogu li{
  list-style-type: none;
}
.vumogu ul{
  padding-left: 15px;
}
.zajavka{
  margin-top: 68px;
  background: #dd1d21;
  text-align: center;
  padding: 26px 0;
  color:#fff;
  font-size: 15px;
  font-family: "notoBold",sans;
  min-width: 310px;
  display: inline-block;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.zajavka:hover{
  background: #ad1010;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.show-all-zajavka{
  margin: 30px auto;
  max-width: 340px;
  display: block;
}
.maybe-interesting{
  margin-top: 100px;
}
.maybe-interesting .wrap-latest span{
  font-weight: bold;
}
.in-page{
  margin-top: 50px;
}
.vacancy-swipper .caption-swipper{
  bottom: 0;
}






/* poslygu page */
.poslygu .caption-swipper{
  width: 320px;
  text-align: center;
}
.poslyg-tab-li{
  padding: 0 150px;
  border: 0;
}
.poslyg-tab-li li{
  width: 33.33333%;
  text-align: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fbbd00;
}
.poslyg-tab-li li a,.poslyg-tab-li li a:hover,.poslyg-tab-li li a:focus,.poslyg-tab-li li.active a{
  margin-right: 0;
  background: transparent !important;
  border: 0 !important;
  padding: 20px 15px;
}
.poslyg-tab-li li a{
  font-size: 15px;
  color:#404040;
  font-family: "notoBold",sans;
}
.poslyg-tab-li li a img{
  position: absolute;
  left: 30px;
  top: 15px;
}
.poslyg-tab-li li a::after{
  content: '';
  position: absolute;
  height: 0px;
  background: #fbbd00;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.poslyg-tab-li li a:hover::after{
  content: '';
  position: absolute;
  height: 10px;
  background: #fbbd00;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.poslyg-tab-li li.active a::after{
  content: '';
  position: absolute;
  height: 10px;
  background: #fbbd00;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: height .3s ease 0s;
  -moz-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  -ms-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}
.sqrt{
  display:block;
  margin: 20px auto 0;
  text-align: center;
}
.sqrt span{
  font-size: 14px;
  color:#404040;
  font-family: "notoBold",sans;
}
.sqrt a{
  font-size: 14px;
  color:#404040;
  font-family: "msSans";
  text-decoration: none;
  cursor: pointer;
}
.content-proj{
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 200px;
}
.content-proj h3{
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  color:#404040;
  font-family: "notoBold",sans;
  text-align: center;
}
.content-proj h3 + p{
  font-size: 14px;
  color:#404040;
  font-family: "msSans";
  margin-top: 55px;
  padding: 0 170px;
}
.content-proj h4{
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  color:#404040;
  font-family: "notoBold",sans;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 30px;
}
.proj-page-our .desc-proj div a{
  min-height: 63px;
}
.proj-page-our .desc-proj div span{
  font-size: 14px;
  color:#404040;
  font-family: "msSans";
  display: block;
  margin-bottom: 5px;
}
.proj-page-our .desc-proj div{
  padding-bottom: 35px !important;
}
.proj-page-our .row{
  padding: 0 !important;
  margin-top: 0 !important;
}
.proj-page-our .desc-proj{
  padding: 0 10px !important;
}
.see-all{
  margin: 30px auto;
  max-width: 340px;
  display: block;
  background: #dd1d21;
  text-align: center;
  padding: 26px 0;
  color: #fff;
  font-size: 15px;
  font-family: "notoBold",sans;
  min-width: 310px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.see-all:hover{
  background: #ad1010;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.poslug-relative{
  top: -40px;
}









/* page news */
.content-news p.news-prev-desc{
  font-size: 24px;
  color:#404040;
  font-family: "msSans";
  text-align: center;
}
.news-our .desc-proj div a{
  font-size: 21px !important;
}
.date-news{
  border:0 !important;
  padding: 0 !important;
}
.date-news span:first-child{
  float: left;
  font-size: 12px !important;
  font-family: "msSans" !important;
  color: #dd1d21 !important;
}
.date-news span:last-child{
  float: right;
  font-size: 12px !important;
  font-family: "msSans" !important;
  color:#dd1d21 !important;
}
.desc-news-own{
  font-size: 14px;
  color:#404040;
  font-family: "msSans";
  margin-top: 15px;
}
.news-our .desc-proj div a{
  min-height: 90px !important;
}

.latest-news h3{
  margin-bottom: 30px;
}

h3.latest-news-title{
  margin-top: 130px !important;
  margin-bottom: 50px;
}
.title-latest{
  border-bottom: 3px solid #c2004e;
}
.title-latest p{
  font-size: 20px;
  font-family: "notoBold",sans;
  color:#404040;
  text-align: center;
  padding: 0 20px;
}
.desc-latest{
  padding: 0 20px;
}
.desc-latest .date-news{
  margin-top: 15px !important;
}
.desc-latest .date-news span{
  color:#b9b5b5 !important;
}
.desc-latest .category{
  margin-top: 10px;
  font-family: "PTregular";
  font-size: 14px;
  color: #404040;
  line-height: 1.5;
  display: block;
}
.search-news{
  max-width: 720px;
  margin: 0 auto;
  min-height: 50px;
  margin-top: 170px;
}
.search-news h3{
  text-transform: uppercase;
  font-size: 26px;
  color: #dd2b46;
  font-family: "notoBold",sans;
  text-align: center;
  margin-bottom: 34px;
}
.wrap-select{
  width: 90%;  
  float: left;
  margin-right: 2%;
  position: relative;
}
.wrap-select img{
  position: absolute;
  right: 15px;
  top: 19px;
}
.search-news select{
  color: #404040;
  font-size: 16px;
  width: 100%;
  height: 48px;
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.search-button{
  width: 8%;
  height: 48px;
  background: #dd2b46;
  float: left;
  text-align: center;
  padding-top: 8px ;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.search-button:hover{
  background: #ad1010;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.two-button-supp{
  margin-top: 20px;
  max-width: 1500px;
  min-height: 100px;
  background: #fbce07;
  padding: 20px 120px;
}
.wrap-two-butt{
  color:#fbce07;
  background: #404040;
  font-size: 15px;
  font-family: "notoBold",sans;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.wrap-two-butt:hover{
  background: #BC2A2A;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.main-news h4{
  margin-top: 110px;
  margin-bottom: 40px;
}




/* page new */
.new-page{
  margin-top: 20px;
}
.new-page .swiper-slide img{
  margin-top: 0;
}
.new-page .caption-swipper{
  width: 1140px;
}
.text-block-new .call-social{
  top:0;
  right: 0;
  left: auto;
}
.text-block-new span{
  color: #dd1d21;
  font-size: 15px;
  font-family: "PTregular";
  display: block;
  margin-bottom: 10px;
}
.text-block-new span a{
  color:#5b84bb;
}
.text-block-new p{
  font-size: 15px;
  font-family: "PTregular";
  color:#404040;
  margin-top: 35px;
}
.new-swipper-page{
  margin-top: 70px;
}
.new-swipper-page,.new-swipper-page .swiper-wrapper,.new-swipper-page .swiper-slide{
  max-height: 680px;
  padding-bottom: 85px;
}
.new-swipper-page .swiper-pagination{
  bottom: -18px;
}
.new-swipper-page .swiper-button-prev,.new-swipper-page .swiper-button-next{
  top:48%;
}









/* own news */
.own-new .caption-swipper{
  width: auto;
}
.content-own-news h3{
  margin: 0;
  margin-top: 65px;
  font-size: 20px;
  color:#404040;
  font-family: "PTregular";
}
.content-own-news .row{
  min-height: 65px;
}
.block-bold-data p{
  background: #f6f6f6;
  padding: 10px;
  margin: 35px -10px 10px;
}
.block-bold-data p span,.block-bold-data span{
  color: #404040 !important;
  font-size: 16px;
  font-family: "PTregular";
  margin: 0;
}
.block-bold-data span{
  margin-bottom: 10px;
}
.block-bold-data b{
  font-family: "notoBold",sans;
  font-size: 16px;
}
.block-bold-data span a{
  color:#508fed;
}
.own-slider-proj,.own-slider-proj .swiper-wrapper,.own-slider-proj .swiper-slide{
  padding-bottom: 0 !important;
}
.own-slider-proj .swiper-button-prev, .own-slider-proj .swiper-button-next{
  top:40%;
}
.developers-our .wrap-dev{
  padding: 0 35px;
}
.developers-our h3{
  font-family: "notoBold",sans;
  font-size: 26px;
  text-transform: uppercase;
  display: block;
  color: #404040;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}
.wrap-dev{
  margin-bottom: 50px;
}
.wrap-dev p{
  font-family: "notoBold",sans;
  font-size: 16px;
  font-size: 18px;
  text-align: center;
  padding: 0 0px 10px;
  border-bottom: 5px solid #c2004e;
}
.wrap-dev span{
  color: #404040 !important;
  font-size: 14px;
  font-family: "PTregular";
  display: block;
  text-align: center;
  padding: 10px 15px 0;
}
.another-proj h3{
  font-family: "notoBold",sans;
  font-size: 26px;
  text-transform: uppercase;
  display: block;
  color: #404040;
  text-align: center;
  margin-bottom: 90px;
}
.another-proj .row{
  padding: 0 !important;
}
.other-proj-slide{
  margin-top: 0 !important;
}
.another-proj .our-project .desc-proj div a{
  min-height: 63px;
}


/*CONTACTS*/
.onMap{
  bottom: -30px;
}
.tabs-style li a {
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  padding: 10px 13px!important;
}
.tabs-style li.active a{
  border: none;
  border-bottom: 3px solid #fbbe00;
  color: black;
}
.tabs-style li.active a{
  border: none!important;
  border-bottom: 3px solid #fbbe00!important;
  color: black;!important;
}

.tabs-style li:hover{
  background:transparent;
  /*border-bottom: 3px solid #fbbe00;*/
}
.tabs-style li a:hover{
  border: none;
  border-bottom: 3px solid #fbbe00!important;
  background:transparent;
  color:black;
}
.tabs-style li a:focus{
  border: none;
  border-bottom: 3px solid #fbbe00;
  color: black;
}
.tabs-style li:active{
  /*color: black;*/
  border: none;
  background:transparent;
}
.tabs-style li a:active{
  border: none;
  background:transparent;
  border-bottom: 3px solid #fbbe00;
}
.top20{
  padding-top: 20px;
}
.padding30{
  padding: 30px;
}
.message-arrow{
  position: absolute;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  width:16px;
  height:30px;
  left: 0;
  top:20px;
}
.message-arrow-top{
  position: absolute;
  background-image: url("../img/message-arrow-up.png");
  background-repeat: no-repeat;
  width:30px;
  height:17px;
  left: 50%;
  top:5px;
}
.message-block{
  padding: 20px;
  width: 100%;
  min-height: 80px;
  height:100%;
  border: 1px solid black;
  resize: none;
  outline: none;
  -moz-appearance: none;
}
.message-img  img{
  border-bottom: 5px solid #d82b46;
  /*width: 130px;*/
  /*padding-left: 100px;*/
  /*height:130px;*/
}
.message-block:focus{
  border-color: black;
}