@media(max-width:1500px){
  .yellow-block h3,.yellow-block span{
    margin-bottom:20px !important;
  }
  .yellow-block h3{
    font-size: 30px !important;
  }
  .yellow-block span{
    font-size: 16px !important;
  }
  .yellow-block a{
    font-size: 15px !important;
  }
  body{
    overflow-x: hidden;
  }
  .our-project .row,.news-our .row{
    width: 100%;
    margin: 0 !important;
  }
  .two-button-supp .row .col-sm-6{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content-own-news{
    padding: 0 15px !important;
  }
  .own-slider-proj .swiper-button-prev{
    left:15px !important;
  }
  .own-slider-proj .swiper-button-next{
    right: 15px !important;
  }
  .text-block-new .row{
    margin: 0 !important;
  }
  .wrap-dev p{
    min-height: 67px !important;
  }
  .wrap-dev span{
    min-height: 50px !important;
  }
  .news-our .row{
    width: 100%;
    margin: 0;
  }
}
@media(max-width:1199px){
  .main-slider .caption-swipper{
    width:700px;
  }
  .poslugu .wrap-poslugu a img{
    left: 15px !important;
  }
  .yellow-block h3{
    font-size: 22px !important;
  }
  .yellow-block span{
    font-size: 15px !important;
  }
  .yellow-block a{
    font-size: 14px !important;
  }
  .poslyg-tab-li li a img{
    left:10px !important
  }
  .poslyg-tab-li{
    padding: 0 !important;
  }
}
@media(max-width:991px){
  .main-slider .caption-swipper{
    width: 572px;
    height: 163px;
  }
  .yellow-block{
    display: none !important;
  }
  .content-proj h3 + p{
    padding: 0 60px !important;
    text-align: center;
  }
  .our-project .row{
    width: 100%;
    margin: 0 !important;
  }
}
@media(max-width:767px){
  .main-slider .caption-swipper a{
    font-size:16px;
  }
  .main-slider .caption-swipper p{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .main-slider .caption-swipper{
    height: auto;
    padding-bottom: 5px;
    padding-top: 25px;
  }
  .main-slider .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
  }
  .main-slider .swiper-pagination-bullets{
    bottom: 70px !important;
  }
  .main-slider .swiper-button-next, .main-slider .swiper-button-prev{
    width: 40px;
    height: 40px;
    padding-top: 7px;
  }
  .main-slider .swiper-button-next img,.main-slider .swiper-button-prev img{
    width:15px;
  }
  .poslyg-tab-li li{
    width: 100% !important;
  }
  .latest-news .row,.footer .row{
    padding: 0 15px !important;
  }
  .in-page{
    margin-top: 120px !important;
  }
  .desc-latest{
    margin-bottom: 80px !important;
  }
  .search-news{
    margin-top: 20px !important;
  }
  .wrap-two-butt{
    padding: 25px 10px !important;
  }
  .search-news{
    padding: 0 15px;
  }
}
@media(max-width:600px){
  .main-slider .swiper-pagination-bullets{
    bottom:0 !important; 
  }
  .poslugu{
    margin-top: 0;
  }
  .vacancy-swipper .caption-swipper{
    display: block !important;
  }
  .vacancy-swipper .caption-swipper span{
    font-size: 18px !important;
  }
  .poslygu .caption-swipper{
    width: auto !important;
  }
  .two-button-supp{
    padding: 20px 15px !important;
  }
  .search-button{
    width: 13% !important;
  }
  .wrap-select{
    width: 85%!important;
  }
  .in-page{
    margin-top: 240px!important;
  }
  .own-new .caption-swipper{
    padding: 15px !important;
  }
}
@media(max-width:500px){
  .min-menu{
    width:210px;
  }
  .navbar-toggle{
    width: 75px;
  }
  .language-content li ul{
    height: 159px;
  }
  .language-content > li > a{
    width: 110px;
    text-align: right;
    display: block;
  }
  .down-menu ul li.down-menu-link a{
    font-size: 14px;
    line-height: 3.5;
  }
  .main-slider .swiper-button-prev,.main-slider .swiper-button-next{
    margin-top: -42px;
  }
  .poslugu .row{
    margin-top: 0 !important;
  }
  .poslugu h3{
    font-size: 20px;
  }
  .content-proj h3,.main-news h4,.content-proj h4{
    font-size: 22px !important;
  }
  .title-latest p{
    font-size: 18px !important;
  }
  .poslugu .wrap-poslugu a img{
    left: 50% !important;
  }
  .vacan-acordion .group-data{
    width: auto !important;
  }
  .text-block-new .call-social{
    right:auto !important;
    left: 0 !important;
  }
  .developers-our .wrap-dev{
    padding: 0 !important;
  }
}
@media(max-width:420px){
  .down-menu ul li.down-menu-link a{
    font-size: 11px;
    line-height: 4.5;
  }
  .main-slider .swiper-slide{
    padding-bottom: 0;
  }
  .main-slider .swiper-button-prev,.main-slider .swiper-button-next{
    margin-top: -22px;
  }
  .poslugu h3{
    font-size: 15px;
  }
  .latest-news h3{
    font-size: 20px;
  }
  .latest-news .wrap-latest a{
    font-size: 18px !important;
  }
  .our-project h3,.our-client h3,.call-our #headingOne-call .panel-title a{
    font-size: 20px !important;
  }
  .our-project .desc-proj div a{
    font-size: 18px !important;
  }
  .messanger-photo{
    width: 75px !important;
    height: 75px!important;
  }
  #collapseOne-call .panel-body textarea{
    height: 130px !important;
  }
  .send-call{
    padding: 10px 0 !important;
  }
  .send-call span{
    font-size: 13px !important;
  }
  .messanger-info-block span{
    font-size: 16px !important;
  }
  .footer ul li a,.footer ul li{
    font-size: 16px !important;
  }
  .vacancy-swipper .caption-swipper span{
    font-size: 11px !important;
  }
  .vacan-acordion h3{
    font-size: 23px !important;
  }
  .vacan-acordion .panel-title a p{
    font-size: 18px !important;
    padding-right: 22px;
  }
  .vacan-acordion .panel-title a span{
    font-size: 13px !important;
  }
  .zajavka{
    min-width: 20px !important;
    width: 100%;
  }
  .maybe-interesting h3{
    font-size: 17px;
  }
  .call-our #headingOne-call{
    margin-top: 175px !important;
  }
  .content-proj h4,.content-proj h3{
    font-size: 18px !important;
  }
}


@media(min-width:1200px){
  .min-menu.show-right{
    right:-555px;
  }
  .toggle-min-menu span{
    display: block !important;
  }
  .toggle-min-menu img{
    display: none;
  }
}