.serchContainer{
    width: 100%;
    position: fixed;
    top:101px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    display: block;
    background: #fff;
    z-index: 101;
    -webkit-transition: opacity .3s ease 0s;
    -moz-transition: opacity .3s ease 0s;
    -o-transition: opacity .3s ease 0s;
    -ms-transition: opacity .3s ease 0s;
    transition: opacity .3s ease 0s;
}

.leftPaddingNone{
    padding-left: 0;
}
.noPadding{
    padding: 0;
}
.search_open{
    background-color: #dd1d21;
}

.search_open a i{
    color: #fff;
}

#search-box{
    border-top: 1px solid #dd1d21;
    border-bottom: 5px solid #dd1d21;
    background-color: #f7f7f7;
    padding: 2.5rem;
}

#search-box h2{
    font-size: 26pt;
    /*margin-bottom: 1.25rem;*/
    font-weight: bold;
    margin: 1.25rem 0rem .625rem 0rem;
}
.search-input{
    height: 50px;
    color: #404040;
    border-radius: 0;
}
.search-input:focus{
    border: 1px solid #404040;
    box-shadow: none;
}
.search-input::-webkit-input-placeholder{
    color: #404040;
}
.search-for{
    background-color: #dd1d21;
    color: #f7f7f7;
    width: 50px;
    height: 50px;
    border: none;
}

.search-for:hover{
    background-color: #f7f7f7;
    color: #dd1d21;
    border: 1px solid #dd1d21;
}

#search-box .searchSubBlock h2{
    font-size: 15pt;
    margin-bottom: 1.25rem;
}

#search-box .searchSubBlock .search-box__list{
    list-style: none;
    padding-left: 0;
}
#search-box .searchSubBlock .search-box__list li{
    padding-bottom: .625rem;
}
#search-box .searchSubBlock .search-box__list li a{
    text-decoration: underline;
    text-transform: capitalize;
    color: #404040;
}
#search-box .searchSubBlock .search-box__list li a:hover{
    color: #dd1d21;
    /*transition: 1s;*/
}

.search-helper{
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 71px;
    text-align: center;

}
.search-helper a{
    display: inline-block;
    color:#fff;
    width: 100%;
    height: 100%;
    background-color: #dd1d21;
    border: 1px solid #dd1d21;
    line-height: 73px;
    text-decoration: none;
    font-weight: bold;
}
.search-helper a:hover{
    background-color: transparent;
    color: #dd1d21;
}