@charset "utf-8";

@import "header.css";
@import "footer.css";

@import "inside-page.css";

/*------- notoSansBold -------*/

@font-face{
  font-family: "notoBold";
  src:url("../fonts/notoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}
/*-------- microsoft --------*/
@font-face{
  font-family: "msSans";
  src:url("../fonts/microsoft-sans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}
/*-------- ptSansRegular --------*/
@font-face{
  font-family: "PTregular";
  src:url("../fonts/PTreg.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}
/*-------- ptSansBold --------*/
@font-face{
  font-family: "PTbold";
  src:url("../fonts/PTbol.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}


html,body{
  height: auto;
  position: relative;

}

.custom-menu-btn{
  position: absolute;
  right: 15px;
  top: 0px;
}
.main{
  min-height: 700px;
  padding-top: 152px;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-top:0;
  padding-bottom: 40px;
}
.slider .item{
  height: 405px;
}
.slider .carousel-control,.slider .carousel-control:hover{
  background: none;
  box-shadow: 0 0 0;
  height: 70px;
  width: 70px;
  opacity: 1;
  background: #d82a47;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding:21px
}
.slider .carousel-control img{
  width: 24px;
  height: 24px;
}
.slider .left.carousel-control img{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slider .left{
  left:2%;
}
.slider .right{
  right:2%;
}
.slider .carousel-indicators{
  bottom: 140px;
}
.slider .carousel-indicators li{
  border-radius:0;
  border: 1px solid #e5e5e5;
  width: 16px;
  height: 16px;
  margin:0;
}
.slider .carousel-indicators .active{
  background: #d82a47;
  border-radius:0;
  border: 1px solid #e5e5e5;
  width: 16px;
  height: 16px;
}
.slider .carousel-caption{
  padding-bottom: 0;
  background: #fff;
  color:#000;
  border-bottom:10px solid #d82a47;
  padding: 20px;
  padding-top: 35px;
  position: absolute;
  bottom: 20px;
  max-width: 63.375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-slider .caption-swipper{
  bottom: 0 !important;
}
.main-slider .swiper-pagination-bullets{
  bottom: 113px ;
}
.slider .carousel-caption a{
  display: block;
  text-decoration: underline;
  font-family: "notoBold";
  font-size: 22px;
  color: #404040;
  text-shadow: 0 0 0 ;
}
.slider .carousel-caption p{
  font-family: "PTregular";
  font-size: 14px;
  color: #404040;
  line-height: 1.5;
  text-shadow: 0 0 0 ;
  margin-top:15px;
}

.wrap-slide-img{
  height: 100%;
  overflow: hidden;
}
.wrap-slide-img img{
  max-width: 100%;
}




.poslugu{
  min-height: 50px;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #fbbd00;
  margin-top:40px;
  padding: 30px 60px;

}
.poslugu h3{
  text-transform: uppercase;
  font-family: "notoBold";
}
.poslugu .row{
  margin-top:30px;
}
.poslugu .wrap-poslugu a{
  font-size:15px;
  font-family: "PTregular";
  background: #c2004e;
  display: block;
  padding: 20px 0;
  position: relative;
  color:#fbbd00;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.poslugu .wrap-poslugu a:hover{
  background-color: #fbce07;
  color: #404040;
  font-weight: bold;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.poslugu .wrap-poslugu a img{
  position: absolute;
  left:11%;
}
/* media poslugu */
@media(max-width:991px){
  .wrap-poslugu{
    margin-top:20px;
  }
  .message-send-box  .send-btn{
    margin-top: 0;
    margin-bottom: 14px;
    width: 100%;
  }
}
@media(max-width:500px){
  .poslugu{
    padding:30px;
  }
  .poslugu h3{
    line-height: 1.5;
    margin:0;
  }
  .poslugu .wrap-poslugu a{
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .poslugu .wrap-poslugu a img{
    top:10px;
    left: 50%;
    margin-left: -11px;
  }
  .poslugu{
    margin-top:20px;
  }
}







.latest-news h3{
  text-transform: uppercase;
  font-family: "notoBold";
  margin-top:30px;
}
.latest-news .row{
  padding: 0 60px;
  margin-top: 30px;
}
.latest-news .wrap-latest{
  border-top:8px solid #c2004e;
  padding: 20px;
  min-height: 185px;
}
.latest-news .wrap-latest a{
  display: block;
  text-decoration: underline;
  font-family: "notoBold";
  font-size:22px;
  color:#404040;
  margin-bottom:15px;
}
.latest-news .wrap-latest span{
  font-family: "PTregular";
  font-size:14px;
  color:#404040;
}
/* media latest news */
@media(max-width:500px){
  .latest-news .row{
    padding:0 30px;
  }
}






.our-project h3{
  text-transform: uppercase;
  font-family: "notoBold";
  margin-top:30px;
}
.our-project .row{
  padding: 0 60px;
  margin-top: 30px;
}
.our-project .photo-poj{
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  height: 0;
}
.our-project .img-respons{
  width:100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.our-project .img-respons:hover{
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  width:104%;
}
.our-project .desc-proj{
  position: relative;
  padding: 0 15px;
  min-height: 20px;
  top:-40px;
}
.our-project .desc-proj div{
  background: #fff;
  padding: 20px;
  border-bottom:10px solid #c2004e;
}
.our-project .desc-proj div a{
  display: block;
  text-decoration: underline;
  font-family: "notoBold";
  font-size:22px;
  color:#404040;
  margin-bottom:15px;
}
.our-project .desc-proj div span{
  font-family: "PTregular";
  font-size:14px;
  color:#404040;
  line-height: 1.5;
}
/* media our-proj */
@media(max-width:500px){
  .our-project .row{
    padding:0 30px;
  }
}


.carrer .row{
  margin: 0;
  display: table;
  width: 100%;
}
.search-job,.photo-carrer{
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.photo-carrer img{
  width: 100%;
  max-width: 100%;
}
.search-job{
  background: #d96929;
  padding: 15px 75px;
}
.search-job .table-cell h2{
  font-weight: normal;
  font-family: "msSans";
  font-size: 27px;
  color:#fff;
}
.search-job .table-cell p{
  color:#fff;
  line-height: 1.5;
  font-family: "msSans";
  font-size: 15px;
}
.search-job .table-cell div{
  padding: 25px 0;
  text-align: center;
  background: #fff;
  color: #d96929;
  cursor: pointer;
  border:1px solid #fff;
  margin-top:20px;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.search-job .table-cell div:hover{
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  background: transparent;
  color:#fff;
}
/* media career */
@media(max-width:991px){
  .search-job, .photo-carrer{
    width:100%;
    display: block;
  }
}
@media(max-width:500px){
  .search-job{
    padding:15px 30px;
  }
  .search-job .table-cell div{
    font-size:12px;
  }
}



.our-client{
  padding: 0 75px;
  border-bottom:10px solid #c2004e;
  padding-bottom: 20px;
}
.our-client h3{
  text-transform: uppercase;
  font-family: "notoBold";
  margin-top:30px;
  text-align: center;
  margin-bottom:30px;
}
.our-client img{
  width: 100%;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.display-item > div{
  width:315px;
  height: 177px;
}
.our-client .owl-carousel {
  display: none;
}
.our-client .owl-carousel .owl-nav{
  box-shadow: 0 0 0;
  background: none;
  width: 34px;
  height: 34px;
  border: 1px solid #c4c4c4;
  opacity: 1;
  top:-64px;
}
.our-client .owl-prev{
  left: auto;
  right: 45px;
}
.our-client .owl-nav img{
  height: 20px;
}
.our-client .owl-nav .owl-prev{
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.our-client .line-client{
  width: 90%;
  margin: 0 auto;
  margin-top:25px;
  height: 10px;
  background: #fbce07;
}
/* media our client */
@media(max-width:767px){
  #carousel-example-generic1 .col-xs-6{
    margin-top:20px;
  }
}
@media(max-width:600px){
  .our-client h3{
    text-align:left;
  }
}
@media(max-width:500px){
  .col-xs-6{
    float:none !important;
    width: 100%;
    margin:0 auto;
  }
  .display-item{
    display: none;
  }
  .our-client h3{
    text-align: center;
    margin-bottom:50px;
  }
  .our-client #carousel-example-generic1 .carousel-control{
    top:-30px;
  }
}
@media(max-width:400px){
  .our-client{
    padding:0 30px;
    padding-bottom: 30px;
  }
}




.call-our{
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.call-our #headingOne-call{
  position: relative;
  background: transparent;
  border:0;
  padding: 0 15px;
}
.call-our #headingOne-call .panel-title{
  text-align: center;
  padding-left: 250px;
  padding-right: 410px;
}
.call-our #headingOne-call .panel-title a{
  display: block;
  padding: 25px 0; 
  background: #fbbe01 !important;
  text-decoration: none;
  color: #404040;
  font-size: 30px;
  font-family: "PTbold";
  position: relative;
}
.call-our #headingOne-call .panel-title a img{
  width: 20px;
  position: absolute;
  right: 20px;
  top: 30px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.call-our #headingOne-call .panel-title a.collapsed img{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.call-our #collapseOne-call{
  background: #fbbe01 !important;
}
.call-our .collapse.in,.call-our .panel-body{
  border:0 !important;
}
.call-our .panel{
  border-radius:0;
  border: 0!important;
  box-shadow: 0 0 0;
}
.logo-call{
  position:absolute;
  left:20px;
  top: 12px;
}
.call-social{
  position: absolute;
  right: 20px;
  top:12px;
}
.call-social ul{
  padding: 0;
}
.call-social ul li{
  list-style-type: none;
  text-align: center;
  padding-top: 13px;
}
.link-call-social{
  display: inline-block;
  border:0.5px solid #e5e5e5;
  width: 54px;
  height: 54px;
  float:left;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social.insta:hover{
  background: #4878a0;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social.youtube:hover{
  background: #cf1412;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social.facebook:hover{
  background: #3b5998;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social.twitter:hover{
  background: #51abf1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social.linked:hover{
  background: #0280bd;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social.googleplus:hover{
  background: #d4432c;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.link-call-social i{
  color:#000;
}
.link-call-social:hover i{
  color:#fff;
}
#collapseOne-call .row{
  margin: 0;
}
.messanger-photo{
  width: 110px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 7px;
  background-image: url('../img/messanger.png');
  background-size: cover;
}
.messanger-photo .line-messanger{
  height: 7px;
  position: absolute;
  bottom: 0;
  background: #d82b46;
  width: 100%;
}
.text-field{
  padding-left: 35px;
}
#collapseOne-call .panel-body textarea{
  width: 100%;
  height: 170px;
  padding: 5px;
  resize: none;
}
.send-call{
  text-align: center;
  background: #dd1d21;
  margin-top: 23px;
  padding: 18px 0;
  cursor: pointer;
}
.send-call span{
  font-size: 15px;
  font-family: "PTbold";
  color: #fff;
}
.messanger-info-block{
  padding-left: 30px;
}
.messanger-info-block span{
  display: block;
  padding-left: 55px;
  position: relative;
  margin-bottom: 55px;
  color: #404040;
  font-size: 18px;
}
.messanger-info-block span img{
  position: absolute;
  top: 0;
  left: 0;
}


/* media */
@media(max-width:1199px){
  .text-field{
    padding-left:15px;
  }
}
@media(max-width:1050px){
  .call-our #headingOne-call .panel-title{
    text-align:left
  }
  .call-our #headingOne-call .panel-title a{
    padding: 25px 20px;
    font-size:28px;
  }
}
@media(max-width:991px){
  .call-our #headingOne-call .panel-title a{
    padding: 18px 20px;
    font-size:25px;
  }
  .messanger-photo{
    margin:0;
    margin-bottom:15px;
  }
  .call-our #headingOne-call .panel-title{
    padding-left: 150px;
    padding-right: 280px;
    text-align: center;
  }
  .logo-call{
    top:15px;
  }
  .logo-call img{
    width:130px;
    height: 41px;
  }
  .call-social{
    top:10px;
  }
  .link-call-social i{
    font-size:1.3em;
  }
  .call-social ul li{
    width:44px;
    height: 44px;
  }
  .call-our #headingOne-call .panel-title a img{
    top:23px;
  }
  .send-call{
    margin-top:15px;
  }
  .text-field{
    margin-bottom:30px;
  }
  .messanger-info-block span{
    margin-bottom:35px;
  }
  .messanger-info-block{
    padding-left: 15px;
  }
}
@media(max-width:767px){
  .call-our #headingOne-call{
    margin-top:70px;
  }
  .logo-call{
    top:-80px;
  }
  .logo-call img{
    width: 187px;
    height: 61px;
  }
  .call-social{
    top:8px;
  }
  .call-our #headingOne-call .panel-title{
    padding-left: 0;
    padding-right: 285px;
  }
  .call-our #collapseOne-call{
    margin-left: 15px;
    margin-right:15px;
  }
  .custom-menu-btn,.registration-content{
    margin-top: -8px;
  }

}
@media(max-width:650px){
  .call-social{
    top:-70px;
  }
  .call-our #headingOne-call .panel-title{
    padding-right: 0;
  }
}
@media(max-width:530px){
  .call-our #headingOne-call{
    margin-top:150px;
  }
  .logo-call{
    top:-170px;
    left:15px;
  }
  .call-social{
    top: -80px;
    left: 15px;
  }
}

.message-send-box{

  padding-top: 15px;
  background-color: #d82a47;

}
.message-send-box  .send-btn{
  margin-top: 13px;
  background-color: white;
}
.list-group > .message-item{
  margin-top:15px;
}

.back-top{
  position: fixed;
  bottom:10px;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.back-top-visible{
  opacity: 1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.back-top div{
  width: 54px;
  height: 54px;
  border: 1px solid #c4c4c4;
  float: right;
  background: #fff;
  cursor: pointer;
  display: table;
  padding-top: 7px;
}
.back-top div img{
  width: 40px;
  vertical-align: middle;
  /*display: table-cell;*/
}

/*SEARCH BLOCK*/
.serchContainer{
  width: 100%;
  position: fixed;
  top:101px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  display: block;
  background: #fff;
  z-index: 101;
  -webkit-transition: opacity .3s ease 0s;
  -moz-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  -ms-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}

.leftPaddingNone{
  padding-left: 0;
}
.noPadding{
  padding: 0;
}
.search_open{
  background-color: #dd1d21;
}

.search_open a i{
  color: #fff;
}

#search-box{
  border-top: 1px solid #dd1d21;
  border-bottom: 5px solid #dd1d21;
  background-color: #f7f7f7;
  padding: 2.5rem;
}

#search-box h2{
  font-size: 26pt;
  /*margin-bottom: 1.25rem;*/
  font-weight: bold;
  margin: 1.25rem 0rem .625rem 0rem;
}
.search-input{
  height: 50px;
  color: #404040;
  border-radius: 0;
}
.search-input:focus{
  border: 1px solid #404040;
  box-shadow: none;
}
.search-input::-webkit-input-placeholder{
  color: #404040;
}
.search-for{
  background-color: #dd1d21;
  color: #f7f7f7;
  width: 50px;
  height: 50px;
  border: none;
}

.search-for:hover{
  background-color: #f7f7f7;
  color: #dd1d21;
  border: 1px solid #dd1d21;
}

#search-box .searchSubBlock h2{
  font-size: 15pt;
  margin-bottom: 1.25rem;
}

#search-box .searchSubBlock .search-box__list{
  list-style: none;
  padding-left: 0;
}
#search-box .searchSubBlock .search-box__list li{
  padding-bottom: .625rem;
}
#search-box .searchSubBlock .search-box__list li a{
  text-decoration: underline;
  text-transform: capitalize;
  color: #404040;
}
#search-box .searchSubBlock .search-box__list li a:hover{
  color: #dd1d21;
  /*transition: 1s;*/
}

.search-helper{
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 71px;
  text-align: center;

}
.search-helper a{
  display: inline-block;
  color:#fff;
  width: 100%;
  height: 100%;
  background-color: #dd1d21;
  border: 1px solid #dd1d21;
  line-height: 73px;
  text-decoration: none;
  font-weight: bold;
}
.search-helper a:hover{
  background-color: transparent;
  color: #dd1d21;
}
/*/SEARCH BLOCK*/

/*BREADCRUMBS*/
.korin{
  padding-top: 15px;
  padding-bottom: 15px;
}
.korin span{
  font-weight: bold;
}
/*/BREADCRUMBS*/


